html,
body{
    height: 100%;
    font-family: 'Arimo';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    background-color: #1A1A1A;
}

a {
  color: inherit;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}

.container{
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: #303030;
  position: relative;
  text-transform: uppercase;
  &::before {
    position: absolute;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.title--decor {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid $primary;
    height: 2px;
    width: 60px;
    top: 150px;
    left: 525px;
    right: 0;
    bottom: 0;
  }
}

.slick-prev,
.slick-next {
  border: 2px solid #303030;
  border-radius: 50%;
  background-color: transparent;
  padding: 22px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slick-prev {
  left: 64px;
  z-index: 100;
}

.slick-next {
  right: 64px;
}