@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
    &__menu {
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      margin-bottom: 80px;
    }
		&__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
		&__desc {
      text-align: center;
    }
		&__title {
      font-size: 72px;
      font-weight: 700;
      line-height: 84px;
      letter-spacing: 0.1em;
      margin-bottom: 10px;
      text-transform: capitalize;
      span {
        font-weight: 300;
      }
    }
		&__subtitle {
      width: 600px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 26px;
      color: rgba(255, 255, 255, .7);
      margin-bottom: 65px;
    }
		&__btn {
      background-color: $primary;
      color: #1A1A1A;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      padding: 25px 57px;
      border-radius: 43px;
    }
		&__list {
      display: flex;
      justify-content: space-around;
      margin-top: 95px;
    }
		&__item-img {
      display: inline-block;
      margin-bottom: 10px;
    }
		&__item-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
    }
		&__item-subtitle {
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, .5);
    }
}
.menu {
		&__list {
      display: flex;
    }
    &__item {
      font-weight: 700;
      font-size: 14px;
      line-height: 90px;
    }
		&__item + .menu__item {
      margin-left: 45px;
    }
		&__link {
      color: #fff;
      transition: color .3s linear;
      &:hover {
        color: $primary;
      }
    }
}

.about {
  margin-bottom: 90px;
    &__desc {
      background-color: $dark;
      border-radius: 6px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    &__title {
      &::before {
        content: 'The Basics Of Healthy Food';
      }
    }
		&__text {
      max-width: 735px;
      margin: 0 auto;
      text-align: center;
      color: #A6A6A6;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 90px;
    }
}
.about-slider {
  padding-bottom: 90px;
		&__item {
      display: flex !important;
      justify-content: space-between;
      max-width: 735px;
      margin: 0 auto;
    }
}

.work {
  margin-bottom: 120px;
		&__title {
      margin-bottom: 90px;
      &::before {
        content: 'How It Works'
      }
    }
		&__desc {
      display: flex;
      justify-content: space-between;
    }
		&__item {
      background-color: $dark;
      width: 255px;
      border-radius: 6px;
      transition: all .3s linear;
      &:hover {
        background-color: $primary;
        color: #191919;
      }
    }
		&__item-title {
      font-size: 22px;
      line-height: 26px;
      padding: 24px 24px 36px;
      position: relative;
      text-transform: capitalize;
      &::after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $primary;
        height: 2px;
        width: 56px;
        top: 60px;
        left: 24px;
        right: 0;
        bottom: 0;
        transition: all .3s linear;
      }
      &:hover {
        &::after {
          border-bottom: 2px solid #191919;
        }
      }
    }
		&__item-text {
      padding-left: 24px;
      padding-right: 31px;
      padding-bottom: 42px;
    }
}

.dishes {
  margin-bottom: 120px;
		&__title {
      margin-bottom: 90px;
      &::before {
        content: 'Dish Of The Day'
      }
    }
		&__list {
      display: grid;
      grid-template-rows: 493px 493px;
      grid-template-columns: 350px 350px 350px;
      gap: 30px;
    }
		&__item {
      background-color: $dark;
      border-radius: 6px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background-image: url(../images/icons/repost.svg);
        width: 40px;
        height: 40px;
        top: 24px;
        left: 286px;
        cursor: pointer;
      }
    }
		&__item-img {
      margin-bottom: 29px;
      border-radius: 6px;
    }
    &__item-desc {
      margin-left: 30px;
    }
		&__item-title {
      font-size: 32px;
      line-height: 30px;
      color: #D9D9D9;
    }
		&__item-subtitle {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.15px;
      color: #A4A8B2;
      margin-bottom: 20px;
    }
		&__item-text {
      letter-spacing: -0.1625px;
      color: #85878C;
      width: 290px;
      margin-bottom: 20px;
    }
    &__item-bottom {
      display: flex;
      align-items: center;
    }
		&__item-star {
      margin-right: 11px;
    }
    &__item-num {
      margin-right: 43px;
    }
		&__item-btn {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 10px;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 0.2em;
      text-align: center;
      border: 2px solid #303030;
      border-radius: 30px;
      padding: 0 32px;
      margin-right: 24px;
      cursor: pointer;
      transition: all .2s linear;
      &:hover {
        color: $dark;
        background-color: $primary;
        border: 2px solid $primary;
      }
    }
}
@import 'media';